 @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

    body,
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #000000;
      margin: 0;
      padding: 0;
      position: relative;
    }

    #videoPlayerContainer {
      width: 100%;
      margin-top: 60px;
      position: relative;
      z-index: 1;

    }

    #videoPlayer {
      width: 100%;
      height: 35vh;
    }

    #channelContainer {
      width: 100%;
      max-height: 50vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }

    .channelButton {
      font-family: "Poppins", sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 5px;
      cursor: pointer;
      text-align: left;
      width: 100%;
      border: none;
      background-color: #0d0d0d;
      border-radius: 5px;
      color: #fff;
      transition: all 0.3s ease 0s;
      box-shadow: 0px 8px 15px rgba(50, 48, 48, 0.43);
    }

    .channelButton:hover {
      background-color: #15489b;
      box-shadow: 0px 10px 15px #0c244b;
      color: #000000;
      transform: translateY(-1px);
    }

    .channelButton img {
      width: 75px;
      height: 55px;
      margin-right: 10px;
      border-radius: 10%;
    }

    .searchContainer {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
    }

    #searchInput {
      width: 80%;
      border: 3px solid #15489b;
      border-right: none;
      padding: 10px;
      height: 15px;
      border-radius: 10px 0 0 10px;
      outline: none;
      color: #000000;
      background-color: #000;
      color: #fff;
    }

    #searchInput.active {
      opacity: 1;
    }

    #searchInput:focus {
      border-color: #0c244b;
    }


    .searchContainer {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      align-items: center;
    }

    .searchIcon {
      color: #ffffff;
      cursor: pointer;
      border: 5px solid #15489b;
      background-color: #15489b;
      border-radius: 50%;
      padding: 5px;
      margin-left: 5px;
      transition: background-color 0.3s ease;
    }


    .logo {
      width: 80px;
      /* Ancho del logo */
      height: 60px;
      /* Alto del logo */
      margin-left: 5px;
      /* Espacio a la izquierda del logo */
      top: 10px;
      /* Ajustamos la posición desde arriba */
      left: 10px;
      /* Ajustamos la posición desde la izquierda */

    }

    @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .navigation {
      position: fixed;
      width: 400px;
      height: 60px;
      background: #15489b;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }

    .navigation ul {
      display: flex;
      width: 350px;
    }

    .navigation ul li {
      list-style: none;
      position: relative;
      width: 70px;
      height: 60px;
      z-index: 2;

    }

    .navigation ul li a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }

    .navigation ul li a .icon {
      position: relative;
      display: block;
      line-height: 65px;
      font-size: 1.15em;
      transition: 0.5s;
      color: #000000;
    }

    .navigation ul li.active a .icon {
      transform: translateY(-32px);
      color: #000000;
    }

    .navigation ul li a .text {
      position: absolute;
      background: #071a38;
      color: #ffffff;
      padding: 2px 7px;
      border-radius: 12px;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(15px);
    }

    .navigation ul li.active a .text {
      transform: translateY(-4px);
      opacity: 1;
    }

    .list {
      transition: background-color 0.3s ease;
      border-radius: 10px;
    }

    .indicator {
      position: absolute;
      top: -35px;
      width: 70px;
      height: 70px;
      background: #2b67c9;
      border-radius: 50%;
      z-index: 1;
      transition: transform 0.5s ease;
    }


    .navigation ul li:nth-child(1).active~.indicator {
      transform: translateX(calc(70px * 0));
    }

    .navigation ul li:nth-child(2).active~.indicator {
      transform: translateX(calc(70px * 1));
    }

    .navigation ul li:nth-child(3).active~.indicator {
      transform: translateX(calc(70px * 2));
    }

    .navigation ul li:nth-child(4).active~.indicator {
      transform: translateX(calc(70px * 3));
    }

    .navigation ul li:nth-child(5).active~.indicator {
      transform: translateX(calc(70px * 4));
    }

    .loader {
      display: none;
      /* Ocultar el loader al inicio */
      border: 8px solid rgba(0, 0, 0, 0.1);
      border-top: 8px solid #ffffff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999; /* Asegurar que esté sobre otros elementos */
      border-top-color: #15489b;
      border-right-color: #ff6347;
      border-bottom-color: #00ff7f;
      border-left-color: #ffff00;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    /* Agrega este código al final de tu bloque de estilos CSS */
#favoriteChannelsContainer {
  margin-top: 20px;
  text-align: center;
}

#favoriteChannelsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favoriteChannelButton {
  margin: 10px;
  padding: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.favoriteChannelButton:hover {
  background-color: #0d47a1;
}


.channelButton {
  /* Otras reglas de estilos */
  position: relative; /* Establecer posición relativa para el contenedor */
}

.channelButton .favoriteIcon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajustar el espacio desde la derecha */
  transform: translateY(-50%);
  color: #fbc02d; /* Color amarillo para el icono */
  transition: color 0.3s ease; /* Efecto de transición para el color */
}

/* Cambiar color al pasar el ratón por encima del icono */
.channelButton:hover .favoriteIcon {
  color: #fdd835; /* Color más claro al pasar el ratón */
}
